.outlet_height {
  min-height: 100vh;
}

/* technology CSS */
/* flex flex-wrap justify-center bg-gray-200 py-4 */
.tab_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}
/* cursor-pointer px-4 py-2 m-2 rounded-lg bg-white shadow-md */
.m_tab {
  cursor: pointer;
  padding: 0 20px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  border-radius: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.techItem {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 60px;
  margin: 5px 20px;
}
.techItem > img {
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(214, 214, 214);
}


.first-word{
  width: 100%;
  display: flex;
}

/* Custom modal */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: gray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  min-height: 80vh;
  text-align: center;
  position: relative;
}

.close-modal {
  position: absolute;
  top: -30px;
  background-color: transparent;
  border-radius: 100%;
  right: 0px;
  height: 30px;
  width: 30px;
  border: none;
  font-size: 20px; 
  cursor: pointer;
  color: #fff;
}

iframe {
  width: 100%;
  border-radius: 5px;
  height: 80vh;
}





@media only screen and (max-width: 600px) {
  .category {
    width: 100%;
    gap: 3rem;
  }
  .techItem {
    margin: 5px 0px;
  }
}

/* see_btn */
.see_btn {
  background-color: transparent;
  border: 1px dashed blue;
  outline: none;
  padding: 5px 30px;
  border-radius: 10px 10px;
  color: blue;
}
